/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */

/* general */
.container{
    max-width:1200px;
    margin: 0 auto;
}
.riga{
    display: flex;
    flex-wrap: wrap;
}


/* header */
   



/* main */
main{
    width: 100%;
}

/* footer*/

/* debug */
.debug {
   min-height:200px;
}
/* colori celle */
.pink{
    background-color: pink;
    min-width: 100px;
    margin: 20px;
    
}
.yellow{
    background-color: #daa520;
    justify-content: space-between;
    display: flex;
}
/* colori sfondi */
.headerbottom{
    background-color: #00008b;
}
.headertop{
    background-color: #add8e6;
    ;
} 
.border{
    border: 1px dashed black;
}
