/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */

/* general */
.container{
    max-width:1000px;
    margin: 0 auto;
}
.container-small{
    max-width: 800px;
    margin: 0 auto;
}

.riga{
    display: flex;
    flex-wrap: wrap;
}

/* header */
.logologin{
    width: 25%;
}
.link{
    width: 50%;
}  
.headertop .header-1-container > *{
   padding: 10px;
    
}
.headertop .header-1-container > .login-contenuto{
    text-align: right;
     
 }
 .headertop .header-1-container > .nav-bar{
text-align: center;
}
.headertop .header-1-container > .nav-bar ul li {
    display: inline-block;
}
.headerbottom{
    padding:50px 0;
}


/* main */


/* footer*/

/* debug */

.debug .headertop .riga > * {
    border: 1px dashed black;
}
.debug .headertop {
    background-color: #add8e6;
    height: 60px;
    padding: 10px 0;
}
.debug .headertop .riga{
    background-color: #daa520;

}

.debug .headerbottom{
    padding:50px 0;
    background-color:blue;
    }
.debug .headerbottom .jumbotron{
    background-color:pink ;
    border: 1px dashed black;
    min-height: 500px;


}